<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./css/chapter4.css">
    <title>Document</title>
</head>
<body>
    <div id="app">
        <p>単価</p>
        <input type="number" name="tanka" v-model="tanka"/>
        <p>人数</p>
        <input type="number" name="nin" v-model="nin" />
        <button
            @click="multiply"
        >合計</button>
        {{ kei }}円
        <p v-if="isInValidKei" class="error"
        >予算が上限の2万円を超えています</p>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="./script/chapter4.js"></script>
</body>
</html>