<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
  <link rel="stylesheet" href="./y1-1.css">
  <title>Document</title>
</head>
<body>
  <div class="container">
    <div id="app">
      {{ id }}
      <header>
        <h2>{{ name }}</h2>
      </header>
      <main>
        <div class="hotelCard">
          <img src="../photo/hotel/hotel_11.jpg">
        </div>
        <div class="hotelDetails">
          <h4 class="Infomation">{{ info }}</h4>
          <div class="bookButton">
            <a 
            class="bookRoomBtn" 
            href="."
            >books Room</a>
          </div>

      <ul class="list">
        <li v-for="item in rooms" :key="item.name" >
          <div class="roomCard" v-on:click="roomDetails">
          <h4>{{ item.roomName }}</h4>
          <p> チェックイン：{{ item.checkIn }}</p>
          <p> チェックアウト：{{ item.checkOut }}</p>
          <p> {{ item.roomInfo }}</p>
          </div>
          <hr>
        </li>
      </ul>
    </div>

  </main>


  <nav class="nav">
    <ul class="ulNav">
      <li class="liNav">
        <a href=".">
          <div class="iconHome"></div>ホーム
        </a>
      </li>
      <li class="liNav">
        <a href=".">
          <div class="iconSearch"></div>検索
        </a>
      </li>
      <li class="liNav">
        <a href=".">
          <div class="iconBook"></div>予約一覧
        </a>
      </li>
      <li class="liNav">
        <a href=".">
          <div class="iconMypage"></div>マイページ
        </a>
      </li>
    </ul>
  </nav>
  </div>
</div>
  <script src="https://cdn.jsdelivr.net/npm/vue@2.6.14/dist/vue.js"></script>
  <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
  <script src="../script/script.js"></script>
</body>
</html>