<!DOCTYPE html>
<html lang="ja">

<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width,initial-scale=1.0" />
  <title>sample</title>
  <link rel="stylesheet" href="./css/style.css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
</head>

<body>
  <div id="app">

    <!-- header -->
    <header></header>


    <!-- conditionds -->
    <div class="conditionds">

      <div class="location">
        <icon class="iconLocation"></icon><label>{{ location }}</label>
      </div>
      <div class="date">
        <icon class="iconDate"></icon><label>{{ date }}</label>
        <icon class="iconRoomCnt iconPeopleNum"></icon><label>{{ roomCnt }}部屋{{ peopleNum }}人</label>
      </div>

      <div class="condition">
        <icon class="iconCondition"></icon><label>{{ condition }}</label>
      </div>

    </div>


    <!-- selectBox -->
    <div class="selectBox">
      <select v-model="selected">
        <option v-for="option in options" v-bind:value="option.value">
          <h6>並び順：{{ option.text }}</h6>
        </option>
      </select>
    </div>

    <!-- hotelList -->
      <ul class="list">
        <li v-for="hotel in hotels" :key="hotel.name">
          <div @click="LinkRoom(hotels.id)" class="hotelCard" :style="{ 
            backgroundImage: 'linear-gradient(270deg, rgb(247, 236, 236) 60%, rgba(0,0,0,0) 60%),url(' + hotel.src + ')'}">
            <p>{{ hotel.name }}</p>
            <p><icon>aa</icon>{{ hotel.plan }}</p>
            <p><icon class="iconLocation"></icon>{{ hotel.location }}</p>
            <p>{{ hotel.charge }}</p>
          </div>
        </li>
      </ul>

  </div>

  <nav class="nav">
    <ul class="ulNav">
      <li class="liNav">
        <a href=".">
          <div class="iconHome"></div>ホーム
        </a>
      </li>
      <li class="liNav">
        <a href=".">
          <div class="iconSearch"></div>検索
        </a>
      </li>
      <li class="liNav">
        <a href=".">
          <div class="iconBook"></div>予約一覧
        </a>
      </li>
      <li class="liNav">
        <a href=".">
          <div class="iconMypage"></div>マイページ
        </a>
      </li>
    </ul>
  </nav>
  <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
  <script src="./script/script.js"></script>
</body>

</html>