.card {
    width: 100%;
    background-image: url("../H1-1/photo/ryokan/ryokan_14.jpg");
    width: 80%;
    height: 15vh;
    background-size: cover;
    margin-left: 10%;
}

.box .divlink {
  color: black;
  display: block;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.box {
    width        : 60%;
    height       : 15vh;
    background   : rgba(255,255,255,0.8);
    /* position: absolute; */
    font-size: 50%;
    margin-top: 10%;
    padding: 4%;
  }

  .list {
    float: left;
    list-style: none;
    
  }


  .yadomei {
      text-align: center;
      
      font-size: 200%;
  }

  .cheackDate {
    margin-left: 8%;
    margin-top: 3%;
  }

  .abletime {
    text-align: center;
    margin-top: 6%;
  }

hr {
  color: black;
  width: 90%;
  margin: 3% auto;
}
  
.open {
	cursor:pointer; /* マウスオーバーでカーソルの形状を変えることで、クリックできる要素だとわかりやすいように */
}
#pop-up {
	display: none; /* label でコントロールするので input は非表示に */
}
.overlay {
	display: none; /* input にチェックが入るまでは非表示に */
}
#pop-up:checked + .overlay {
	display: block;
	z-index: 9999;
	background-color: #00000070;
	position: fixed;
	width: 100%;
	height: 100vh;
	top: 0;
	left: 0;
}
.window {
	width: 85%;
	height: 60%;
	background-color: rgba(34, 58, 112, 1);
  opacity: 80%;
	border-radius: 6px;
	margin: 5% auto;
	list-style: none;
  text-align: left;
}
.text {
	font-size: 20px;
  color: #fff;
  text-align: center;
  margin-top: 30%;
  padding: 6%;
}

.text2 {
  font-size: 15px;
  color: #fff;
  margin: auto 5%;
}

hr {
  color: #fff;
  border: 3px;
}

.button {
  display: block;
  width: 70%;
  height: 10%;
  padding: 5%;
  background: #FFF;
  color: rgba(34,58,112,1);
  text-align: center;
  letter-spacing: .1rem;
  text-decoration: none;
  bottom: 40%;
  font-size: 15px;
  margin: 10% auto;
  
}

.close {
	cursor:pointer;
	position: absolute;
	top: 4px;
	right: 4px;
	font-size: 20px;
}

  *{
    margin:0;
    padding:0;
    box-sizing:border-box;
  }
  
  a {
    color:#fff;
    text-decoration: none;
  }
  
  /*共通部分navigationの部分*/
  
  .nav {
    background-color: rgba(34, 58, 112, 1);
    position:fixed;
    width: 100%;
    bottom:0;
  }
  
  .ulNav {
    display: flex;
    text-align: center;
    list-style: none;
  }
  
  .liNav {
    width: 100%;
    height: 100%;
    color: white;
    padding:5% 0;
  }
  
  /*アイコンの設定*/
  
  .iconHome::before {
    font-family: 'FontAwesome';
    content: "\f015";
    font-size:2em;
  }
  
  .iconSearch:before {
    font-family: 'FontAwesome';
    content: "\f002";
    font-size: 2em;
  }
  
  .iconBook::before {
    font-family: 'FontAwesome';
    content: "\f0f2";
    font-size: 2em;
  }
  
  .iconMypage::before {
    font-family: 'FontAwesome';
    content: "\f007";
    font-size: 2em;
  }

  