<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./css/style.css">
    <title>Document</title>
</head>
<body>
    <div id="app">
        <p>次の学科の学生が対象です。名前と年齢を入力してください</p>
        <ul class="list">
            <li
            v-for="(item, i) in departments"
            :key="i"
            >{{ item }}</li>
        </ul>
        <p>名前</p>
        <div class="form-area__name">
            <input
            type="text"
            name="name"
            v-model="name"
            />
        <p>年齢</p>
        {{ count }}
        <button 
        @click="decrement"
        >-1</button>
        <button 
        @click="increment"
        >+1</button>
        </div>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/vue@2.7.11/dist/vue.js"></script>
    <script src="./script/script.js"></script>
</body>
</html>