* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
header {
  height: 36px;
  width: 100%;
  background-color: rgba(34, 58, 112, 1);
  margin-top:8%;
}

/* conditions */
.conditionds {
  padding: 3% 5%;
}
.conditionds label {
  height: 2.5em;
  margin-bottom:2%;
  background-color: rgb(247,236,236);
  display: inline-block;
}
.location label, .condition label {
  width: 81%;
}
.date label {
  width: 37%;
}

/*  selectBox */
.selectBox {
  margin-bottom: 10%;
}
.selectBox select {
  position:absolute;
  right: 0px;
  background-color: rgba(34, 58, 112, 1);
  color: #fff;
}


.hotelList {
  width: 100%;
  height: 20%;
}
.hotelList ul {
  margin-bottom:5%;
  list-style: none;
  text-align: center;
}
.hotelList ul p:nth-child(4) {
  text-align: right ;
}
.hotelList li {
  margin-bottom: 5%;
  background-color: rgb(247, 236, 236);
  padding: 2% 3%;
}
.hotelList img {
  width: auto;
  height: 100px;
}
.hotelList p {
  margin-bottom: 1%;
}


/*共通部分navigationの部分*/

.nav {
  background-color: rgba(34, 58, 112, 1);
  position: fixed;
  width: 100%;
  bottom: 0;
}

.ulNav {
  display: flex;
  text-align: center;
  list-style: none;
}

.liNav {
  width: 100%;
  height: 100%;
  color: white;
  padding: 5% 0;
}

.liNav>a {
  color: #fff;
  text-decoration: none;
}

/*アイコンの設定*/

.iconHome::before {
  font-family: 'FontAwesome';
  content: "\f015";
  font-size: 2em;
}

.iconSearch:before {
  font-family: 'FontAwesome';
  content: "\f002";
  font-size: 2em;
}

.iconBook::before {
  font-family: 'FontAwesome';
  content: "\f0f2";
  font-size: 2em;
}

.iconMypage::before {
  font-family: 'FontAwesome';
  content: "\f007";
  font-size: 2em;
}